# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
*.env

# SQLite database file
*.db
*.sqlite3

# Log files
*.log

# Temporary files
*.tmp

# Virtual environment
venv/
